/__pycache__
/studentsdb/__init__.py
/studentsdb/_settings.py
/studentsdb/_urls.py
/studentsdb/_wsgl.py
studentsdb/_pycache__
/media
/students/static/img
manage.py

*.pyc
*~
*.egg-info
*.mo
*.egg
*.swp
